#IIAB Apache2 configuration file

XSendFile on
XSendFilePath /

WSGIScriptAlias /iiab {{ doc_root }}/osm.wsgi

Alias /iiabstatic {{ python_path }}/static
Alias /osm {{ python_path }}/static
Alias /maps {{ python_path }}/static

<Directory {{ python_path }}/static>
	require all granted
</Directory>
